In [1]:
import pandas as pd
df =pd.read_csv('211210-DRM-new.csv')

In [2]:
react_df = df.loc[:,['CO2/CH4','GHSV','Time on stream','CH4 Conversion']]
pre_df = df.iloc[:,71:76]
pre_df
pre_re_df = pd.concat([pre_df,react_df],axis=1)

In [29]:
pre_df

,Calcination T,Calcination time,Reduction T,Reduction time,Reduction H2
0,700,5.0,800,2.0,33.33
1,700,5.0,800,2.0,33.33
2,700,5.0,800,2.0,33.33
3,700,5.0,800,2.0,33.33
4,700,5.0,800,2.0,33.33
...,...,...,...,...,...
5903,300,6.0,1000,24.0,40.00
5904,300,6.0,1000,24.0,40.00
5905,300,6.0,1000,24.0,40.00
5906,300,6.0,1000,24.0,40.00
5907,300,6.0,1000,24.0,40.00

In [22]:
react_df= df.iloc[:,76:]
react_df.head()

,Reaction T,Reaction CH4,Reaction CO2,CO2/CH4,Reaction Ar,Reaction N2,Reaction He,GHSV,Time on stream,CH4 Conversion
0,600,50.0,50.0,1.0,0.0,0.0,0.0,4.0,60,21
1,600,50.0,50.0,1.0,0.0,0.0,0.0,4.0,60,39
2,600,50.0,50.0,1.0,0.0,0.0,0.0,4.0,60,45
3,600,50.0,50.0,1.0,0.0,0.0,0.0,4.0,60,48
4,600,50.0,50.0,1.0,0.0,0.0,0.0,4.0,60,44

In [25]:
react_df['CH4 GHSV'] = react_df.loc[:,'Reaction CH4']*react_df.loc[:,'GHSV']/100
react_df['CO2 GHSV'] = react_df.loc[:,'Reaction CO2']*react_df.loc[:,'GHSV']/100
react_df['Space Time'] = 1/react_df.loc[:,'GHSV']

In [26]:
react_df = react_df.loc[:,['Reaction T','CO2/CH4','CH4 GHSV','CO2 GHSV','GHSV','Space Time','Time on stream','CH4 Conversion']]
react_df

,Reaction T,CO2/CH4,CH4 GHSV,CO2 GHSV,GHSV,Space Time,Time on stream,CH4 Conversion
0,600,1.0,2.000,2.000,4.0,0.25,60,21
1,600,1.0,2.000,2.000,4.0,0.25,60,39
2,600,1.0,2.000,2.000,4.0,0.25,60,45
3,600,1.0,2.000,2.000,4.0,0.25,60,48
4,600,1.0,2.000,2.000,4.0,0.25,60,44
...,...,...,...,...,...,...,...,...
5903,700,1.0,0.125,0.125,0.5,2.00,120,81
5904,750,1.0,0.125,0.125,0.5,2.00,120,90
5905,800,1.0,0.125,0.125,0.5,2.00,120,95
5906,850,1.0,0.125,0.125,0.5,2.00,120,97
5907,900,1.0,0.125,0.125,0.5,2.00,120,98

In [30]:
np.save('./data/reaction_fin.npy',react_df)
np.save('./data/pretreat_fin.npy',pre_df)